.cardHeading{
    color:blue;
    background-color:lightcyan;
    padding : 15px;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    width: 350px;

}
.female{
    color:magenta;
    background-color:lightyellow;
}
.male{
    color:blue;
    background-color:lightcyan;
}
.contactor{
    color: grey;
    text-decoration: line-through;
}